$winter-grad: linear-gradient(to right, #928dab, #37314f);
$purple-grad: linear-gradient(to top, #4568dc, #b06ab3);
$purple-grad-r: linear-gradient(to right, #b06ab3, #4568dc);
$green-grad: linear-gradient(to top, #52c234, #54c77a);
$orange-grad: linear-gradient(to top, #f46b45, #eea849);
$carbon-grad: linear-gradient(to top, #1a2980, #26d0ce);
$viscious-grad: linear-gradient(to top, #cc2b5e, #753a88);
$blue-gradient: linear-gradient(-225deg, #7de2fc 0%, #b9b6e5 100%);
$purple-gradient: linear-gradient(-225deg, #5271c4 0%, #b19fff 48%, #eca1fe 100%);
$pink-gradient: linear-gradient(-225deg, #ffe29f 0%, #ffa99f 48%, #ff719a 100%);
$green-gradient: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
$orange-gradient: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
$strong-bliss: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
$viscious-stance: linear-gradient(60deg, #29323c 0%, #485563 100%);
$slick-carbon: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%),linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
$scroll-gradient: linear-gradient(to right, #bdc3c7 0%, #2c3e50 99%);
$dark-scroll-gradient: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
$bgcover-grad: linear-gradient(to right, rgba(4, 4, 4, 0.7), rgba(36, 36, 36, 0.7));
$winter-grad: linear-gradient(to top, #f46b45, #eea849);
$winter-grad-r: linear-gradient(to right, #f46b45, #eea849);
$purple-grad-r: linear-gradient(to right, #b06ab3, #4568dc);
$purple-grad-r: linear-gradient(to right, #4568dc, #b06ab3);
$green-grad: linear-gradient(to top, #52c234, #061700);
$green-grad-r: linear-gradient(to right, #52c234, #061700);
$orange-grad: linear-gradient(to top, #f46b45, #eea849);
$orange-grad-r: linear-gradient(to right, #f46b45, #eea849);
$carbon-grad: linear-gradient(to top, #1a2980, #26d0ce);
$carbon-grad-r: linear-gradient(to right, #1a2980, #26d0ce);
$viscious-grad: linear-gradient(to top, #cc2b5e, #753a88);
$viscious-grad-r: linear-gradient(to right, #cc2b5e, #753a88);
$blue-gradient: linear-gradient(-225deg, #7de2fc 0%, #b9b6e5 100%);
$purple-gradient: linear-gradient(-225deg, #5271c4 0%, #b19fff 48%, #eca1fe 100%);
$pink-gradient: linear-gradient(-225deg, #ffe29f 0%, #ffa99f 48%, #ff719a 100%);
$green-gradient: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
$orange-gradient: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
$strong-bliss: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
$viscious-stance: linear-gradient(60deg, #29323c 0%, #485563 100%);
$slick-carbon: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
$scroll-gradient: linear-gradient(to right, #bdc3c7 0%, #2c3e50 99%);
$dark-scroll-gradient: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);